<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Uploader</title>
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
    	.myclass{text-align: center; background-color: black; padding: 15px; color: white;}
    	a{text-decoration: none; color: yellowgreen;}
    </style>

  </head>
  <body>
  	<div class="conatiner text-center mt-3">
	    <h1>Image Uploader</h1>

	    <form method="POST" enctype="multipart/form-data">
	    	{% csrf_token %}
	    	<input type="file" name='photo'>
	    	<button type="submit" class="btn btn-outline-success">Upload</button>
	    </form>
    </div>
<hr>
    <div class="container">
	    	<div class="row">
	    		{% for x in pic %}
	    		<div class="col-md-4">
		    		<form action="/delete/{{x.id}}/" method="POST">
			    		{% csrf_token %}
			    		<img src="{{x.image.url}}" class="img-thumbnail">
			    		<div class="d-grid mt-2">
							<button class="btn btn-outline-danger">Delete</button>
						</div>
		    		</form>
		    	</div>
	    		{% endfor %}
	    	</div>
    </div>

    <br style="line-height: 5;">

    <footer>
    	<div class="row myclass">
            <div class="col-md-12">
                <p>
                	Copyright &copy; {% now 'Y' %} All rights reserved | This Website is made with 
                	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
									</svg> by 
                	<a href="https://arjungiri.herokuapp.com/" target="_blank">ARJUN</a>
                </p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
